body {
  background-color: var(--white); }

.container {
  overflow: hidden;
  max-width: 1440px; }

header .hero h1 {
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-top: 8.62rem;
  margin-bottom: 1rem; }

header .hero p {
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  line-height: 2.125rem;
  margin-bottom: 3.25rem; }

.btn-1 {
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  background-color: var(--green-500);
  border: 0rem;
  border-radius: 0.5rem;
  margin-bottom: 4.5rem;
  padding: 1.5rem; }

.btn-box-1 {
  display: flex;
  justify-content: center;
  align-items: center; }

header .hero #h3 {
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  line-height: 5rem;
  margin-bottom: 1.5rem;
  text-decoration: underline;
  text-decoration-color: var(--green-500);
  text-underline-offset: 0.5rem; }

.awards {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6.25rem; }

.awards img {
  margin-left: 2.75rem; }

.section-1 {
  background-color: var(--white);
  margin: 6rem 7.5rem 2rem 7.5rem; }

.section-1 .h2 {
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  color: var(--neutral);
  margin-bottom: 2rem; }

.section-1 .services-num {
  display: flex;
  justify-content: center;
  align-items: center; }

.section-1 .services-num .nums {
  width: 18rem; }

.section-1 .services-num .num-1 {
  padding-right: 3.5rem; }

.section-1 .services-num .num-2 {
  border-right: 2px solid var(--green-500);
  border-left: 2px solid var(--green-500);
  padding: 0 3.5rem;
  width: 24rem; }

.section-1 .services-num .num-3 {
  padding-left: 3.5rem; }

.services-num .nums .p2a {
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  color: var(--neutral);
  margin-bottom: 0.5rem; }

.services-num .nums .p2b {
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  color: var(--neutral); }

.section-2 .container {
  padding: 0 7.5rem; }

.section-2 .services {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem; }

.section-2 .services-lhs {
  margin-top: 4rem;
  width: 50%; }

.section-2 .services-lhs h3 {
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: start;
  color: var(--neutral);
  margin-bottom: 2rem; }

.services .service-detail {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-bottom: 1.25rem;
  gap: 1.31rem; }

.services .service-detail p {
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-size: 1.25;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  color: var(--neutral);
  line-height: 1.75rem; }

.service-rhs {
  width: 50%; }

.service-rhs img {
  width: 100%;
  padding: 0 0 4rem 0; }

.s-responsive {
  display: none; }

.section-3 {
  margin-bottom: 7.25rem; }

.section-3 .container p {
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  color: var(--neutral);
  line-height: 2rem;
  margin: 2rem 20.78rem 3rem 20.78rem; }

.btn-2 {
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  background-color: var(--green-500);
  color: var(--stone-806);
  border: 0rem;
  border-radius: 0.5rem;
  padding: 1.5rem; }

.btn-box-2 {
  display: flex;
  justify-content: center;
  align-items: center; }

.section-4 {
  background: var(--green-gradient);
  margin-bottom: 7.25rem;
  position: relative; }

.section-4 .container {
  padding: 1.5rem 15.31rem; }

.section-4 .container h2 {
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  color: var(--white);
  margin-bottom: 2rem; }

.section-4 .container .faq-box {
  color: var(--neutral);
  margin-bottom: 2rem;
  position: relative;
  z-index: 3; }

.faq-box summary {
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: left;
  background-color: var(--green-500);
  color: var(--neutral);
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 1.25rem;
  padding: 1rem; }

.faq-box summary::-webkit-details-marker {
  display: none; }

summary:after {
  content: "\1F893";
  font-size: 1.5rem; }

details[open] summary:after {
  content: "\1F891"; }

.faq-box .ans {
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  line-height: 2.25rem;
  margin-left: 1rem; }

.energy img {
  position: absolute;
  z-index: 2;
  top: 0%;
  left: 30%; }

@media screen and (max-width: 1200px) {
  .section-2 .services {
    flex-wrap: wrap; }

  .section-2 .services-lhs {
    width: 100%; }

  .service-rhs img {
    width: 100%;
    padding: 0 0 2rem 0; }

  .service-rhs {
    width: 100%;
    height: 50%; }

  .s-desktop {
    display: none; }

  .s-responsive {
    display: contents; }

  .section-3 .container p {
    margin: 0;
    padding: 3rem 15.5rem; }

  .section-4 .container {
    padding: 1.5rem 7.5rem; } }
@media screen and (max-width: 900px) {
  header {
    padding: 2.5rem 2rem 0 2rem; }

  header .hero h1 {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-top: 5.62rem; }

  header .hero p {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center; }

  .section-1 {
    margin: 6rem 2rem 2rem 2rem; }

  .section-1 .h2 {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    color: var(--neutral); }

  .section-1 .services-num .nums {
    width: 12rem; }

  .section-1 .services-num .num-1 {
    padding-right: 2.5rem; }

  .section-1 .services-num .num-2 {
    padding: 0 2.5rem;
    width: 20rem; }

  .section-1 .services-num .num-3 {
    padding-left: 2.5rem; }

  .services-num .nums .p2a {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    color: var(--neutral); }

  .section-2 .services {
    margin-bottom: 0; }

  .section-2 .container {
    padding: 0 2rem; }

  .service-rhs img {
    padding: 0; }

  .section-3 .container p {
    padding: 3rem 4.5rem; }

  .section-4 .container {
    padding: 1.5rem 2rem; }

  .faq-box summary {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
    color: var(--neutral); } }
@media screen and (max-width: 760px) {
  header .hero h1 {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    line-height: 3rem;
    margin-top: 5.62rem; }

  header .hero p {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    line-height: 1.5rem; }

  header .hero #h3 {
    line-height: 3rem; }

  .awards {
    display: flex;
    flex-wrap: wrap; }

  .awards img {
    margin-left: 1.75rem;
    padding: 2rem; }

  .section-1 {
    margin: 6rem 2rem 2rem 2rem; }

  .section-1 .h2 {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    color: var(--neutral);
    margin-bottom: 2rem; }

  .section-1 .services-num {
    display: flex;
    justify-content: center;
    align-items: center; }

  .section-1 .services-num .nums {
    width: 12rem; }

  .section-1 .services-num .num-1 {
    padding-right: 2.5rem; }

  .section-1 .services-num .num-2 {
    border-right: 2px solid var(--green-500);
    padding: 0 2.5rem;
    width: 20rem; }

  .section-1 .services-num .num-3 {
    padding-left: 2.5rem; }

  .services-num .nums .p2a {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    color: var(--neutral); }

  .services-num .nums .p2b {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    color: var(--neutral); }

  .section-2 .container {
    padding: 0 2rem; }

  .section-2 .services {
    margin-bottom: 0; }

  .section-3 .container p {
    margin: 0;
    padding: 3rem 4.5rem; }

  .section-4 .container {
    padding: 1.5rem 2rem; } }
@media screen and (max-width: 600px) {
  header .hero h1 {
    line-height: 2.5rem;
    margin-bottom: 1rem; }

  header .hero p {
    margin-bottom: 3.25rem;
    line-height: 1.8rem; }

  header .hero #h3 {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    line-height: 3rem;
    margin-bottom: 1.5rem; }

  .section-1 .services-num {
    flex-direction: column; }

  .section-1 .services-num .nums {
    width: 70%;
    margin-bottom: 2rem; }

  .section-1 .services-num .num-1 {
    padding-right: 0rem; }

  .section-1 .services-num .num-2 {
    border: none;
    padding: 0rem; }

  .section-1 .services-num .num-3 {
    padding-left: 0rem; }

  .services-num .nums .p2a {
    margin-bottom: 0.5rem; }

  .section-2 .services-lhs {
    margin-top: 4rem;
    width: 100%; }

  .section-4 .container {
    padding: 1rem 2rem; }

  .energy img {
    display: none; } }
@media screen and (max-width: 500px) {
  header .hero h1 {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-top: 3.62rem; }

  header .hero p {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center; }

  header .hero #h3 {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    line-height: 2rem;
    margin-bottom: 1.5rem; }

  .awards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4.25rem; }

  .awards img {
    margin: 0;
    padding: 1rem; }

  .section-2 .services-lhs {
    margin-top: 4rem;
    width: 100%; }

  .section-3 {
    margin-bottom: 3.25rem; } }
@media screen and (max-width: 400px) {
  header .hero h1 {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    line-height: 2rem;
    margin-top: 5.62rem;
    margin-bottom: 1rem; }

  header .hero p {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 3.25rem;
    line-height: 1.4rem; }

  .btn-1 {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem; }

  .btn-box-1 {
    display: flex;
    justify-content: center;
    align-items: center; }

  header .hero #h3 {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    line-height: 2rem;
    margin-bottom: 1.5rem; }

  .section-2 .services-lhs h3 {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    color: var(--neutral);
    margin-bottom: 2rem; }

  .section-3 {
    margin-bottom: 3.25rem; }

  .section-3 .container p {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    color: var(--neutral);
    line-height: normal;
    padding: 3rem 1.5rem; } }
@media screen and (max-width: 350px) {
  header .hero h1 {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    line-height: 1.5rem;
    margin-top: 2.62rem;
    margin-bottom: 2rem; }

  header .hero p {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 3.25rem;
    line-height: 1.4rem; }

  .section-1 {
    margin-top: 3rem;
    margin-bottom: 2rem; }

  .section-1 .h2 {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    color: var(--neutral); }

  .services-num .nums .p2a {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    color: var(--neutral);
    margin-bottom: 0.5rem; }

  .services-num .nums .p2b {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    color: var(--neutral); }

  .section-2 {
    margin-top: -4rem; }

  .section-3 .container p {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    color: var(--neutral);
    padding: 3rem 1.5rem; } }
@media screen and (max-width: 300px) {
  header {
    padding: 2.5rem 2rem 0 2rem; }

  header .hero h1 {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    line-height: 2rem;
    margin-top: 2.62rem;
    margin-bottom: 1.5rem; }

  header .hero p {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: 0.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 3.25rem;
    line-height: 1.8rem; }

  .section-3 .container button {
    display: flex;
    justify-content: center; }

  .btn-2 {
    color: var(--white);
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    background-color: var(--green-500);
    color: var(--stone-806);
    border: 0rem;
    border-radius: 0.5rem;
    padding: 1.5rem;
    width: 70%; }

  .btn-box-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    justify-content: center;
    width: 100%; } }

/*# sourceMappingURL=services.css.map */
