@mixin texts($size: 4rem, $align: center, $weight: 400) {
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-size: $size;
  font-style: normal;
  font-weight: $weight;
  line-height: normal;
  text-align: $align;
}

@mixin display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin display-services {
  display: flex;
  align-items: center;
}
@mixin display-flex-2 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

body {
  background-color: var(--white);
}

.container {
  overflow: hidden;
  max-width: 1440px;
}
// Hero Section

// Hero Header
header .hero{
  padding: 0 7.5rem;
}

header .hero h1 {
  @include texts($weight: 700);
  margin-top: 8.62rem;
  margin-bottom: 1rem;
}

// Hero Paragraph
header .hero p {
  @include texts(1.5rem, center, 400);
  line-height: 2.125rem;
  margin-bottom: 3.25rem;
}

// Hero Button
.btn-1 {
  @include texts(1.5rem, center, 600);
  background-color: var(--green-500);
  border: 0rem;
  border-radius: 0.5rem;
  margin-bottom: 4.5rem;
  padding: 1.5rem;
}

.btn-box-1 {
  @include display-flex;
}

.btn-box-1 a, .btn-box-2 a{
  color: var(--neutral);
}

// Award Header
header .hero #h3 {
  @include texts(1.5rem, center, 500);
  line-height: 5rem;
  margin-bottom: 1.5rem;
  text-decoration: underline;
  text-decoration-color: var(--green-500);
  text-underline-offset: 0.5rem;
}

// Awards
.awards {
  @include display-flex;
  padding-bottom: 6.25rem;
}

.awards img {
  margin-left: 2.75rem;
}

// Section-1

.section-1 {
  background-color: var(--white);
  margin: 6rem 7.5rem 2rem 7.5rem;
}

// Section-1 Header Starts

.section-1 .h2 {
  @include texts(2.5rem, center, 700);
  color: var(--neutral);
  margin-bottom: 2rem;
}

// Secvtion-1 Header Ends

// Section-1 Services Number
.section-1 .services-num {
  @include display-flex;
}

// Num-1, Num-2, Num-3
.section-1 .services-num .nums {
  width: 18rem;
}

// Num-1/First
.section-1 .services-num .num-1 {
  padding-right: 3.5rem;
}

// Num-2/Middle
.section-1 .services-num .num-2 {
  border-right: 2px solid var(--green-500);
  border-left: 2px solid var(--green-500);
  padding: 0 3.5rem;
  width: 24rem;
}

// Num-3/Last
.section-1 .services-num .num-3 {
  padding-left: 3.5rem;
}

//Services Number First P-tag
.services-num .nums .p2a {
  @include texts(2.25rem, center, 600);
  color: var(--neutral);
  margin-bottom: 0.5rem;
}

//Services Number Second P-tag
.services-num .nums .p2b {
  @include texts(1rem, center, 400);
  color: var(--neutral);
}

// Section-2

.section-2 .container {
  padding: 0 7.5rem;
}

// Services-Section Start

// Services(1,2,3)
.section-2 .services {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

// Services LHS
.section-2 .services-lhs {
  margin-top: 4rem;
  width: 50%;
}

.section-2 .services-lhs h3 {
  @include texts(2rem, start, 600);
  color: var(--neutral);
  margin-bottom: 2rem;
}

// Services Details
.services .service-detail {
  @include display-flex-2;
  margin-bottom: 1.25rem;
  gap: 1.31rem;
}

.services .service-detail p {
  @include texts(1.25, left, 400);
  color: var(--neutral);
  line-height: 1.75rem;
}

.service-rhs {
  width: 50%;
}

// Services RHS/IMG
.service-rhs img {
  width: 100%;
  padding: 0 0 4rem 0;
}

.s-responsive {
  display: none;
}
// Services-Section End

// Section-3

.section-3 {
  margin-bottom: 7.25rem;
}
.section-3 .container p {
  @include texts(1.5rem, center, 400);
  color: var(--neutral);
  line-height: 2rem;
  margin: 2rem 20.78rem 3rem 20.78rem;
}

// Get in touch with us Button
.btn-2 {
  @include texts(1.5rem, center, 600);
  background-color: var(--green-500);
  color: var(--stone-806);
  border: 0rem;
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.btn-box-2 {
  @include display-flex;
}

// FAQ Section
.section-4 {
  background: var(--green-gradient);
  margin-bottom: 7.25rem;
  position: relative;
}

// Section-4 Container
.section-4 .container {
  padding: 1.5rem 15.31rem;
}

// H2 Header/FAQs
.section-4 .container h2 {
  @include texts(2.5rem, center, 700);
  color: var(--white);
  margin-bottom: 2rem;
}

// FAQ BOX
.section-4 .container .faq-box {
  color: var(--neutral);
  margin-bottom: 2rem;
  position: relative;
  z-index: 3;
}

// Question
.faq-box summary {
  @include texts(1.5rem, left, 600);
  background-color: var(--green-500);
  color: var(--neutral);
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 1.25rem;
  padding: 1rem;
}

.faq-box summary::-webkit-details-marker {
  display: none;
}

summary:after {
  content: "\1F893";
  font-size: 1.5rem;
}

details[open] summary:after {
  content: "\1F891";
}

//   Answer
.faq-box .ans {
  @include texts(1.2rem, left, 400);
  line-height: 2.25rem;
  margin-left: 1rem;
}

// Lightning Image
.energy img {
  position: absolute;
  z-index: 2;
  top: 0%;
  left: 30%;
}

// RESPONSIVENESS

@media screen and (max-width: 1200px) {
  
  // Containers

  // Header
  header .hero{
    padding: 0 5.5rem;
  }
  
  // Section-1
  .section-1 {
    background-color: var(--white);
    margin: 6rem 5.5rem 2rem 5.5rem;
  }
  // Section-2
    .section-2 .container {
      padding: 0 5.5rem;
    }
    
  // Services-Section Start

  // Services(1,2,3)
  .section-2 .services {
    flex-wrap: wrap;
    margin-bottom:1rem;
  }

  // Services LHS
  .section-2 .services-lhs {
    margin-top: 1rem;
    width: 100%;
  }

  // Services RHS/IMG
  .service-rhs img {
    width: 100%;
    padding: 0 0 2rem 0;
  }

  .service-rhs {
    width: 100%;
    height: 50%;
  }

  .s-desktop {
    display: none;
  }

  .s-responsive {
    display: contents;
  }
  // Services-Section End

  // Section-3

  .section-3 .container p {
    margin: 0;
    padding: 3rem 15.5rem;
  }

  // Section-4 Container
  .section-4 .container {
    padding: 1.5rem 7.5rem;
  }
}

@media screen and (max-width: 1050px){

 // Containers

  // Header
  header .hero{
    padding: 0 2.5rem;
  }
  
  // Section-2
    .section-2 .container {
      padding: 0 1.5rem;
    }

  // Hero Header
header .hero h1 {
  @include texts($weight: 700);
  margin-top: 8.62rem;
  margin-bottom: 1rem;
}

// Hero Paragraph
header .hero p {
  @include texts(1.5rem, center, 400);
  line-height: 2.125rem;
  margin-bottom: 3.25rem;
}

// Hero Button
.btn-1 {
  @include texts(1.5rem, center, 600);
  background-color: var(--green-500);
  border: 0rem;
  border-radius: 0.5rem;
  margin-bottom: 4.5rem;
  padding: 1.5rem;
}

.btn-box-1 {
  @include display-flex;
}


.btn-box-1 a{
  color: var(--neutral);
}

// Award Header
header .hero #h3 {
  @include texts(1.5rem, center, 500);
  line-height: 5rem;
  margin-bottom: 1.5rem;
  text-decoration: underline;
  text-decoration-color: var(--green-500);
  text-underline-offset: 0.5rem;
}

// Awards
.awards {
  @include display-flex;
  padding-bottom: 6.25rem;
}

.awards img {
  margin-left: 2.75rem;
}

}


@media screen and (max-width: 900px) {
  // Header


  // Hero Section

  // Hero Header
  header .hero h1 {
    @include texts(3rem, center, 700);
    margin-top: 4.62rem;
  }

  // Hero Paragraph
  header .hero p {
    @include texts(1rem, center, 400);
    line-height:2rem;
  }


  // Section-1

  .section-1 {
    margin: 6rem 2rem 2rem 2rem;
  }

  // Section-1 Header Starts

  .section-1 .h2 {
    @include texts(2rem, center, 700);
    color: var(--neutral);
  }

  // Secvtion-1 Header Ends

  // Section-1 Services Number

  // Num-1, Num-2, Num-3
  .section-1 .services-num .nums {
    width: 12rem;
  }

  // Num-1/First
  .section-1 .services-num .num-1 {
    padding-right: 2.5rem;
  }

  // Num-2/Middle
  .section-1 .services-num .num-2 {
    padding: 0 2.5rem;
    width: 20rem;
  }

  // Num-3/Last
  .section-1 .services-num .num-3 {
    padding-left: 2.5rem;
  }

  //Services Number First P-tag
  .services-num .nums .p2a {
    @include texts(1.8rem, center, 600);
    color: var(--neutral);
  }

  // Section-2

  // Services(1,2,3)
  .section-2 .services {
    margin-bottom: 0;
  }
  .section-2 .container {
    padding: 0 2rem;
  }

  // Services RHS/IMG
  .service-rhs img {
    padding: 0;
  }

  // Section-3

  .section-3 .container p {
    padding: 3rem 4.5rem;
  }

  // FAQ Section

  // Section-4 Container
  .section-4 .container {
    padding: 1.5rem 2rem;
  }

  // Question
  .faq-box summary {
    @include texts(1.2rem, left, 600);
    color: var(--neutral);
  }
}

@media screen and (max-width: 760px) {
  // Header

  // Hero Section

  // Hero Header
  header .hero h1 {
    @include texts(2.5rem, center, 700);
    line-height: 3rem;
    margin-top: 5.62rem;
  }

  // Hero Paragraph
  header .hero p {
    @include texts(1rem, center, 400);
    line-height: 1.5rem;
  }

  // Award Header
  header .hero #h3 {
    line-height: 3rem;
  }

  // Awards
  .awards {
    display: flex;
    flex-wrap: wrap;
  }

  .awards img {
    margin-left: 1.75rem;
    padding: 2rem;
  }

  // Section-1

  .section-1 {
    margin: 6rem 2rem 2rem 2rem;
  }

  // Section-1 Header Starts

  .section-1 .h2 {
    @include texts(2.5rem, center, 700);
    color: var(--neutral);
    margin-bottom: 2rem;
  }

  // Secvtion-1 Header Ends

  // Section-1 Services Number
  .section-1 .services-num {
    @include display-flex;
  }

  // Num-1, Num-2, Num-3
  .section-1 .services-num .nums {
    width: 12rem;
  }

  // Num-1/First
  .section-1 .services-num .num-1 {
    padding-right: 2.5rem;
  }

  // Num-2/Middle
  .section-1 .services-num .num-2 {
    border-right: 2px solid var(--green-500);
    padding: 0 2.5rem;
    width: 20rem;
  }

  // Num-3/Last
  .section-1 .services-num .num-3 {
    padding-left: 2.5rem;
  }

  //Services Number First P-tag
  .services-num .nums .p2a {
    @include texts(1.8rem, center, 600);
    color: var(--neutral);
  }

  //Services Number Second P-tag
  .services-num .nums .p2b {
    @include texts(1rem, center, 400);
    color: var(--neutral);
  }

  // Section-2

  .section-2 .container {
    padding: 0 2rem;
  }

  // Services-Section Start

  // Services(1,2,3)
  .section-2 .services {
    margin-bottom: 0;
  }

  // Services-Section End

  // Section-3

  .section-3 .container p {
    margin: 0;
    padding: 3rem 4.5rem;
  }

  // FAQ Section

  // Section-4 Container
  .section-4 .container {
    padding: 1.5rem 2rem;
  }
}

@media screen and (max-width: 600px) {
  
  // Header
  .header .container{
    margin-bottom: 1rem;
  }
  // Hero Section

  // Hero Header
  header .hero h1 {
    @include texts(2rem, center, 700);
    line-height: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  // Hero Paragraph
  header .hero p {
    margin-bottom: 3.25rem;
    line-height: 1.8rem;
  }

  // Award Header
  header .hero #h3 {
    @include texts(1.5rem, center, 500);
    line-height: 3rem;
    margin-bottom: 1.5rem;
  }

  // Awards
.awards {
  padding-bottom: 1.25rem;
}

  // Section-1`

  .section-1{
    margin-top: 4rem;
    margin-bottom: 0rem;
  }

  // Section-1 Services Number
  .section-1 .services-num {
    flex-direction: column;
  }

  // Num-1, Num-2, Num-3
  .section-1 .services-num .nums {
    width: 70%;
    margin-bottom: 2rem;
  }

  // Num-1/First
  .section-1 .services-num .num-1 {
    padding-right: 0rem;
  }

  // Num-2/Middle
  .section-1 .services-num .num-2 {
    border: none;
    padding: 0rem;
  }

  // Num-3/Last
  .section-1 .services-num .num-3 {
    padding-left: 0rem;
  }

  //Services Number First P-tag
  .services-num .nums .p2a {
    margin-bottom: 0.5rem;
  }

  // Section-2
  // Services-Section Start
  // Services LHS
  .section-2 .services-lhs {
    width: 100%;
  }
  // Services-Section End

  // Section-4 Container
  .section-4 .container {
    padding: 1rem 2rem;
  }

  // Question
  .energy img {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  // Header
  // Hero Section

  // Hero Header
  header .hero h1 {
    @include texts(1.5rem, center, 700);
    margin-top: 3.62rem;
  }

  // Hero Paragraph
  header .hero p {
    @include texts(0.8rem, center, 400);
  }

  // Award Header
  header .hero #h3 {
    @include texts(1rem, center, 500);
    line-height: 2rem;
    margin-bottom: 1.5rem;
  }

  // Awards
  .awards {
    @include display-flex;
  }

  .awards img {
    margin: 0;
    padding: 1rem;
  }

  // Section-2

  // Services LHS
  .section-2 .services-lhs {
    width: 100%;
  }

  // Services-Section End

  // Section-3

  .section-3 {
    margin-bottom: 3.25rem;
  }
}

@media screen and (max-width: 400px) {
  // Header

  // Hero Section

  // Hero Header
  header .hero h1 {
    @include texts(1.5rem, center, 700);
    line-height: 2rem;
    margin-top: 5.62rem;
    margin-bottom: 1rem;
  }

  // Hero Paragraph
  header .hero p {
    @include texts(0.8rem, center, 400);
    margin-bottom: 3.25rem;
    line-height: 1.4rem;
  }

  // Hero Button
  .btn-1 {
    @include texts(1.2rem, center, 600);
    padding: 1rem;
    margin-bottom: 2rem;
  }

  .btn-box-1 {
    @include display-flex;
  }

  // Award Header
  header .hero #h3 {
    @include texts(1rem, center, 500);
    line-height: 2rem;
    margin-bottom: 1.5rem;
  }

  // Section-2

  .section-2 .services-lhs h3 {
    @include texts(2rem, center, 600);
    color: var(--neutral);
    margin-bottom: 2rem;
  }

  // Services-Section End

  // Section-3

  .section-3 {
    margin-bottom: 3.25rem;
  }
  .section-3 .container p {
    @include texts(1.5rem, center, 400);
    color: var(--neutral);
    line-height: normal;
    padding: 3rem 1.5rem;
  }
}

@media screen and (max-width: 350px) {
  // Header
  // Hero Section

  // Hero Header
  header .hero h1 {
    @include texts(1.2rem, center, 700);
    line-height: 1.5rem;
    margin-top: 2.62rem;
    margin-bottom: 2rem;
  }

  // Hero Paragraph
  header .hero p {
    @include texts(0.8rem, center, 400);
    margin-bottom: 3.25rem;
    line-height: 1.4rem;
  }

  // Section-1

  // Section-1 Header Starts

  .section-1 {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  .section-1 .h2 {
    @include texts(1.5rem, center, 700);
    color: var(--neutral);
  }

  // Secvtion-1 Header Ends

  //Services Number First P-tag
  .services-num .nums .p2a {
    @include texts(1.4rem, center, 600);
    color: var(--neutral);
    margin-bottom: 0.5rem;
  }

  //Services Number Second P-tag
  .services-num .nums .p2b {
    @include texts(0.8rem, center, 400);
    color: var(--neutral);
  }

  // Section-2

  .section-2 {
    margin-top: -4rem;
  }

  // Section-3

  .section-3 .container p {
    @include texts(1.5rem, center, 400);
    color: var(--neutral);
    padding: 3rem 1.5rem;
  }
}

@media screen and (max-width: 300px) {
  
  // Containers

  // Header
  header .hero{
    padding: 0 0.5rem;
  }
  
  // Section-2
    .section-2 .container {
      padding: 0 0.5rem;
    }

  // Header
  
  // Hero Section
  // Hero Header
  header .hero h1 {
    @include texts(1.1rem, center, 700);
    line-height: 2rem;
    margin-top: 2.62rem;
    margin-bottom: 1.5rem;
  }

  // Hero Paragraph
  header .hero p {
    @include texts(0.6rem, center, 400);
    margin-bottom: 3.25rem;
    line-height: 1.8rem;
  }

  // Services LHS

.section-2 .services-lhs h3 {
  @include texts(1.5rem, center, 600);
  color: var(--neutral);
  margin-bottom: 2rem;
}


  // Section-3 Container
  .section-3 .container button {
    display: flex;
    justify-content: center;
  }
  // Get in touch with us Button
  .btn-2 {
    @include texts(1.5rem, center, 600);
    background-color: var(--green-500);
    color: var(--stone-806);
    border: 0rem;
    border-radius: 0.5rem;
    padding: 1.5rem;
    width: 70%;
  }

  .btn-box-2 {
    @include display-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
