footer{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    background-color: var(--stone-950);
    padding: 2.5rem 7.5rem; 
}
.foot-nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    width: 100%;
}

.foot-list
{
    list-style: none;
}

.foot-list li
{
    display: inline-block;
    padding: 0 15px;
}

.foot-list li a
{
    transition: all 0.15s;
    text-decoration: none;
    color: #fff;

}

.foot-list li a:hover
{
    color: var(--green-500);
}

.foot-socials
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95px;
    cursor: pointer;
}

hr
{
width: 100%;
    border-color: var(--white);
}

.copyright
{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    color: var(--white);
}