header{
    background: var(--green-gradient); 
    padding: 2.5rem 7.5rem 0;
}

header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.logo, .sol, .En, .rgy{
    font-family: 'Manrope', sans-serif;
    cursor: pointer;
    margin-right: auto;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
}

.nav__links li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: var(--white);
    line-height: 1.5rem;
}

.sol{
    color: var(--green-500);
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    margin-right: 2.25rem;
}

.nav__links li a.active{
    font-weight: bold;
    color: var(--green-500);
}

.nav__links li a:hover{
    color: var(--green-500);
}
