header{
    background: var(--green-gradient);
    background-color: var(--stone-950);
    box-sizing: border-box;
    padding: 2.5rem 7.5rem 0; 
    width: 100%;
}

header .navbar{
    display:flex;
    justify-content: space-between;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.logo, .sol, .En, .rgy{
    font-family: 'Manrope', sans-serif;
    cursor: pointer;
    margin-right: auto;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
}

.nav__links li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
    line-height: 1.5rem;
    transition: all 0.15s;
}

.sol{
    color: var(--green-500);
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    margin-right: 2.25rem;
}

.nav__links li a.active{
    font-weight: bold;
    color: var(--green-500);
}

.nav__links li a:hover{
    color: var(--green-500);
    font-size: 18px;
}